

<div class="w-75 mx-auto py-4">
    <h2 >Pay Now!</h2>
     <form (ngSubmit)="handlepayment(paymentform)" [formGroup]="paymentform">

       <label for="name"> Customer Name : </label>
       <input formControlName="name" type="text" class="form-control mb-2" id="name">
       <div *ngIf="paymentform.get('name')?.errors && paymentform.get('name')?.touched" class="alert alert-danger">
        <p *ngIf="paymentform.get('name')?.getError('minlength')" class="m-0">Name minLength is 3</p>
        <p *ngIf="paymentform.get('name')?.getError('required')">Name is Required</p>
        </div>

       <label for="email">Email :</label>
       <input formControlName="email" type="email" class="form-control mb-2" id="email" > 
         <div *ngIf="paymentform.get('email')?.errors && paymentform.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="paymentform.get('email')?.getError('required')" class="m-0">Email is Required</p>
            <p *ngIf="paymentform.get('email')?.getError('email')" class="m-0">Invalid Email</p>
         </div>

         <div formGroupName="creditCard">
          <label for="name">CardName :</label>
          <input formControlName="name" type="text" class="form-control mb-2" id="name" >
 
          <label for="cardNumber">cardexpiredate :</label>
          <input formControlName="cardNumber" type="text" class="form-control mb-2" id="cardNumber" > 
         
          <label for="expirationYear">expirationYear :</label>
          <input formControlName="expirationYear" type="text" class="form-control mb-2" id="expirationYear" > 
          
          <label for="expirationMonth">expirationMonth :</label>
          <input formControlName="expirationMonth" type="text" class="form-control mb-2" id="expirationMonth" > 
       
          <label for="cvc">cvc :</label>
          <input formControlName="cvc" type="text" class="form-control mb-2" id="cvc" > 
       </div>
      
 
       <button  [disabled]="paymentform.invalid"  type="submit" class="btn d-block ms-auto btn-success">Pay</button>
     </form> 
 </div>