<section class="hero" id="section_1">
    <div class="container">
        <div class="row">
  
            <div class="col-lg-5 col-12 m-auto">
                <div class="hero-text">
  
                    <h1 class="text-white mb-4"><u class="text-info">Hospital</u>Name</h1>
  
                    <span class="text-white">[Hospital Name] provides high-quality healthcare services with experienced professionals dedicated to compassionate patient care Our state-of-the-art facilities offer a full range of medical services, from routine check-ups to complex procedures.</span>
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <!-- <span class="date-text">We Offer Online Courses</span>
  
                        <span class="location-text">Tahrir Square, Al Riyadh</span> -->
                        <!-- HTML !-->
                         <a href="#ibrahim" class="button-5 me-3 bi-arrow-down arrow-icon"  role="button">See Our Clincs</a>
                         <button class="button-5 dark" role="button">Discover More</button>

                    </div>
  
                    <!-- <a href="#section_2" class="custom-link bi-arrow-down arrow-icon">سيشسي</a> -->
                </div>
            </div>
        </div>
    </div>
  
    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="../../../assets/videos/hospitalvideo.mp4" type="video/mp4">
  
            Your browser does not support the video tag.
        </video>
    </div>
  </section>