<section class="clinic-card section-padding" id="hamada" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="mb-5">Our <u class="text-info">Doctors</u></h2>
            </div>
            <div class="col-lg-3 cardItem text-center" *ngFor="let item of doctorsInfo">
                <p-card header={{item.name}} subheader={{item.country}}  >
                    <ng-template pTemplate="header">
                        <img alt="Card" class="cardImg" src={{item.image}} />
                        <div class="middle">
                            <div class="text">see more</div>
                          </div>
                    </ng-template>
                    <span>
                        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating></span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam 
                    </p>
                    <ng-template pTemplate="footer">
                      
                         <a class="button-18" role="button" (click)="SelectDoctor(item)">Reserve</a>

                    </ng-template>
                </p-card>
            </div>
            </div>
</div>
</section>



