<section class="call-to-action section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-12">
        <h2 class="text-white mb-4">
          Meet <u class="text-info">With Our Doctors?</u>
        </h2>

        <p class="text-white">You Can Register Now and Make a Reservation !</p>
      </div>

      <div class="col-lg-3 col-12 ms-lg-auto mt-4 mt-lg-0">
        <a href="#section_5" class="custom-btn btn">Register Today</a>
      </div>
    </div>
  </div>
</section>
<section class="schedule section-padding" id="section_4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-5 text-center">Our <u class="text-info">Hospitals</u></h2>
        <nav>
          <div
            class="nav nav-tabs align-items-baseline"
            id="nav-tab"
            role="tablist"
          >
            <button
              class="nav-link active"
              id="nav-DayOne-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-DayOne"
              type="button"
              role="tab"
              aria-controls="nav-DayOne"
              aria-selected="true"
            >
              <h6>
                <span>St. Jude Children's Hospital</span>
                <small>stjude@example.com</small>
              </h6>
            </button>

            <button
              class="nav-link"
              id="nav-DayTwo-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-DayTwo"
              type="button"
              role="tab"
              aria-controls="nav-DayTwo"
              aria-selected="false"
            >
              <h6>
                <span>Dallas Medical Center Of Texas</span>
                <small>dallstx@example.com</small>
              </h6>
            </button>

            <button
              class="nav-link"
              id="nav-DayThree-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-DayThree"
              type="button"
              role="tab"
              aria-controls="nav-DayThree"
              aria-selected="false"
            >
              <h6>
                <span>Children's Hospital of Philadelphia</span>
                <small>chop@example.com</small>
              </h6>
            </button>

            <button
              class="nav-link"
              id="nav-DayFour-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-DayFour"
              type="button"
              role="tab"
              aria-controls="nav-DayFour"
              aria-selected="false"
            >
              <h6>
                <span>Moffitt Cancer Center</span>
                <small>moffitt@example.com</small>
              </h6>
            </button>
          </div>
        </nav>

        <div class="tab-content mt-5" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-DayOne"
            role="tabpanel"
            aria-labelledby="nav-DayOne-tab"
          >
            <div class="row border-bottom pb-5 mb-5">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/dentistry.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Dentistry</h4>

                <p>
                  Specialized healthcare facility dedicated to providing
                  comprehensive oral care and promoting optimal dental health
                  for patients of all ages. Our clinic is staffed by highly
                  skilled and experienced dentists, hygienists, and dental
                  professionals who are committed to delivering personalized,
                  quality dental services.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Ahmed Ali
                      <p class="speakers-text mb-0">Head Of Dentistry</p>
                    </div>
                  </div>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    Room 1003
                  </span>
                </div>
              </div>
            </div>

            <div class="row border-bottom pb-5 mb-5">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/internal.pg.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Internal Medicine</h4>

                <p>
                  Expert Care for Your Well-being. Our internal medicine clinic
                  specializes in the prevention, diagnosis, and treatment of a
                  wide range of adult health conditions. With a team of highly
                  skilled internists, we are committed to providing
                  comprehensive medical care tailored to your unique needs,
                  promoting long-term health and vitality.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Natalie
                      <p class="speakers-text mb-0">
                        Head Of Internal Medicine
                      </p>
                    </div>
                  </div>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    100-D Room
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/Cardio.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Orthopedics</h4>

                <p>
                  Restoring Mobility, Enhancing Lives. Our orthopedic clinic is
                  dedicated to delivering exceptional musculoskeletal care,
                  specializing in the diagnosis, treatment, and rehabilitation
                  of orthopedic conditions. With a focus on personalized
                  treatment plans and advanced surgical techniques, our goal is
                  to help you regain function, reduce pain, and improve your
                  quality of life.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/senior-man-white-sweater-eyeglasses.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Thomas
                      <p class="speakers-text mb-0">Head of Orthpedics</p>
                    </div>
                  </div>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    100-B Room
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-DayTwo"
            role="tabpanel"
            aria-labelledby="nav-DayTwo-tab"
          >
            <div class="row border-bottom pb-5 mb-5">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/Orth.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Cardiology</h4>

                <p>
                  Heart Health at the Core. Our cardiology clinic is committed
                  to providing expert care for your cardiovascular well-being.
                  With a team of renowned cardiologists and state-of-the-art
                  diagnostics, we offer comprehensive cardiac evaluations,
                  advanced treatments, and personalized prevention strategies to
                  ensure your heart stays strong and your overall health
                  thrives.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Neveen
                      <p class="speakers-text mb-0">Head of Cardiology</p>
                    </div>
                  </div>
                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    Room 1052
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/hospital2.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Pediatrics</h4>

                <p>
                  Nurturing Healthy Futures. Our pediatric clinic is dedicated
                  to providing compassionate and comprehensive medical care for
                  children of all ages. With a team of experienced
                  pediatricians, we prioritize the health, growth, and
                  development of your child, offering preventive care, routine
                  check-ups, immunizations, and specialized treatments to
                  support their well-being from infancy through adolescence.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Samantha
                      <p class="speakers-text mb-0">Head of Pediatrics</p>
                    </div>
                  </div>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    100-Y Room
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-DayThree"
            role="tabpanel"
            aria-labelledby="nav-DayThree-tab"
          >
            <div class="row border-bottom pb-5 mb-5">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/Cardio.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Family Medicine</h4>

                <p>
                  Our family medicine clinic is dedicated to providing
                  comprehensive, personalized care for patients of all ages,
                  from infants to seniors. With a focus on preventive care,
                  timely diagnosis, and holistic treatment, we strive to be your
                  trusted partner in promoting the overall well-being of your
                  entire family.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Isabella
                      <p class="speakers-text mb-0">Head of Family Medicine</p>
                    </div>
                  </div>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    Room 1054
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/dentistry.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Dentistry</h4>

                <p>
                  At our dentistry clinic, we prioritize patient comfort and
                  strive to create a welcoming and relaxing environment. Whether
                  patients require routine check-ups, preventive care,
                  restorative treatments, or cosmetic procedures, our team is
                  equipped with state-of-the-art equipment and the latest
                  advancements in dental technology to deliver exceptional care
                </p>

                <div class="d-flex align-items-center mt-4">
                  <div class="avatar-group d-flex">
                    <img
                      src="../../../assets/images/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg"
                      class="img-fluid avatar-image"
                      alt=""
                    />

                    <div class="ms-3">
                      Samantha
                      <p class="speakers-text mb-0">Head of Dentistry</p>
                    </div>
                  </div>

                  <span class="mx-3 mx-lg-5">
                    <i class="bi-clock me-2"></i>
                    10:00 - 10:45 AM
                  </span>

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    100-C Room
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-DayFour"
            role="tabpanel"
            aria-labelledby="nav-DayFour-tab"
          >
            <div class="row">
              <div class="col-lg-4 col-12">
                <img
                  src="../../../assets/images/clinic/Orth.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div>

              <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                <h4 class="mb-2">Orthopedics</h4>

                <p>
                  Restoring Mobility, Enhancing Lives. Our orthopedic clinic is
                  dedicated to delivering exceptional musculoskeletal care,
                  specializing in the diagnosis, treatment, and rehabilitation
                  of orthopedic conditions. With a focus on personalized
                  treatment plans and advanced surgical techniques, our goal is
                  to help you regain function, reduce pain, and improve your
                  quality of life.
                </p>

                <div class="d-flex align-items-center mt-4">

                  <span class="mx-1 mx-lg-5">
                    <i class="bi-layout-sidebar me-2"></i>
                    Room AB5
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
