/*---------------------------------------
  CONTACT
-----------------------------------------*/
.contact {
  background-image: url('../../../assets/images/maria-stewart-p4tj0g-_aMM-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.contact-form h2 {
  background: var(--navbar-bg-color);
  color: var(--white-color);
  padding: 30px 50px;
}

.contact-form .row {
  padding: 50px;
}

.arrow-icon {
  background: var(--section-bg-color);
  border-radius: 100px;
  color: var(--dark-color);
  font-size: var(--h5-font-size);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.arrow-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}