

<!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
    data-client_id="940713461550-rviiua2vuqdkoumfhjvnts6r2gqgi8sl.apps.googleusercontent.com"
    data-login_uri="https://localhost:7025/api/signingoogle"
    data-auto_prompt="false"
>
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
</div> -->


<div>
  <!-- <h2>Login Below With Google</h2> -->
  <div id="buttonDiv"></div>
</div>


