

<div class="w-75 mx-auto py-4 ">
    <h2 >Register Your Hospital</h2>
     <!-- <form (ngSubmit)="handleRegisteration(registerform) " [formGroup]="registerform" > -->

       <label for="Name">Hospital Name : </label>
       <input formControlName="Name" type="text" class="form-control mb-2" id="Name">
       <div *ngIf="registerform.get('Name')?.errors && registerform.get('Name')?.touched" class="alert alert-danger">
        <p *ngIf="registerform.get('Name')?.getError('minlength')" class="m-0">Name minLength is 3</p>
        <p *ngIf="registerform.get('Name')?.getError('required')">Name is Required</p>
        </div>

       <label for="Email">Email :</label>
       <input formControlName="Email" type="email" class="form-control mb-2" id="Email" > 
         <div *ngIf="registerform.get('Email')?.errors && registerform.get('Email')?.touched" class="alert alert-danger">
            <p *ngIf="registerform.get('Email')?.getError('required')" class="m-0">Email is Required</p>
            <p *ngIf="registerform.get('Email')?.getError('email')" class="m-0">Invalid Email</p>
         </div>
       <label for="Password">Password :</label>
       <input formControlName="Password" type="password" class="form-control mb-2" id="password" > 
         <div *ngIf="registerform.get('Password')?.errors && registerform.get('Password')?.touched" class="alert alert-danger">
     <p *ngIf="registerform.get('Password')?.getError('required')" class="m-0">Password Is Required</p>
         </div>
       <label for="NumberOfBranches">Number Of Branches :</label>
       <input formControlName="NumberOfBranches" type="number" class="form-control mb-2" id="NumberOfBranches" > 
       <div *ngIf="registerform.get('NumberOfBranches')?.errors && registerform.get('NumberOfBranches')?.touched" class="alert alert-danger">
     <p *ngIf="registerform.get('NumberOfBranches')?.getError('required')">Number Of Branches Is Required</p>
    </div>
     <label for="Picture">Image :</label>
     <input formControlName="Picture" type="file" class="form-control mb-2 " id="Picture">
    <div *ngIf="registerform.get('Picture')?.errors && registerform.get('Picture')?.touched "class="alert alert-danger">
        <p *ngIf="registerform.get('Picture')?.getError('required')" >Image Is Required </p>
    </div>
 
       <button  [disabled]="registerform.invalid"  type="submit" class="btn d-block ms-auto btn-info">Register</button>
     <!-- </form>  -->
 </div>