<section class="hero" id="section_1">
  <div class="container">
      <div class="row">

          <div class="col-lg-5 col-12 m-auto">
              <div class="hero-text">

                  <h1 class="text-white mb-4"><u class="text-info">ALAlamiya</u> Center 2023</h1>

                  <div class="d-flex justify-content-center align-items-center">
                      <span class="date-text">We Offer Online Courses</span>

                      <span class="location-text">Tahrir Square, Al Riyadh</span>
                  </div>

                  <a href="#section_2" class="custom-link bi-arrow-down arrow-icon"></a>
              </div>
          </div>
      </div>
  </div>

  <div class="video-wrap">
      <!-- <video autoplay="" loop="" muted="" class="custom-video" poster="">
          <source src="../../../assets/videos/backgroundvideo.mp4" type="video/mp4">

          Your browser does not support the video tag.
      </video> -->
      <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [autoPlay]="true" [containerStyle]="{ 'max-width': '100%' }" [numVisible]="4">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <!-- <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-between">
                <img [src]="item.thumbnailImageSrc" style="display: block; width: 20vh; height: 20vh;" />
            </div>
        </ng-template> -->
        <ng-template pTemplate="caption" let-item id="test">
            <div class="hero-text">
                <h4 class="" style="margin-bottom: .5rem; color: #300000; ">{{ item.title }}</h4>
                <a class="" [routerLink]="'visit'">{{ item.alt }}</a>
            </div>

        </ng-template>
</p-galleria>
  </div>
</section>


<section class="highlight">
  <!-- <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
              <div class="highlight-thumb">
                  <img src="../../../assets/images/highlight/alexandre-pellaes-6vAjp0pscX0-unsplash.jpg" class="highlight-image img-fluid" alt="">

                  <div class="highlight-info">
                      <h3 class="highlight-title">2019 Highlights</h3>

                      <a href="https://www.youtube.com/templatemo" class="bi-youtube highlight-icon"></a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
              <div class="highlight-thumb">
                  <img src="../../../assets/images/highlight/miguel-henriques--8atMWER8bI-unsplash.jpg" class="highlight-image img-fluid" alt="">

                  <div class="highlight-info">
                      <h3 class="highlight-title">2020 Highlights</h3>

                      <a href="https://www.youtube.com/templatemo" class="bi-youtube highlight-icon"></a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
              <div class="highlight-thumb">
                  <img src="../../../assets/images/highlight/jakob-dalbjorn-cuKJre3nyYc-unsplash.jpg" class="highlight-image img-fluid" alt="">

                  <div class="highlight-info">
                      <h3 class="highlight-title">2021 Highlights</h3>

                      <a href="https://www.youtube.com/templatemo" class="bi-youtube highlight-icon"></a>
                  </div>
              </div>
          </div>

      </div>
  </div> -->
  <!-- <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [autoPlay]="true" [containerStyle]="{ 'max-width': '100%' }" [numVisible]="4">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 50vh; height: 50vh; display: block;" />
        </ng-template> -->
        <!-- <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-between">
                <img [src]="item.thumbnailImageSrc" style="display: block; width: 20vh; height: 20vh;" />
            </div>
        </ng-template> -->
        <!-- <ng-template pTemplate="caption" let-item id="test">
            <h4 style="margin-bottom: .5rem; color: #ffffff; ">{{ item.title }}</h4>
            <a [routerLink]="'visit'">{{ item.alt }}</a>
        </ng-template>
</p-galleria> -->





</section>

