<nav class="navbar navbar-expand-lg" id="hidenavbar">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="index.html" class="navbar-brand mx-auto mx-lg-0">
      <!-- <i class="bi-bullseye brand-logo"></i> -->
      <img
        class="bi-bullseye brand-logo"
        src="../../../assets/images/newlogo.png"
        alt=""
      />
      <span class="brand-text"
        >Medico<br />
        Solutions</span
      >
    </a>

    <a
      *ngIf="!isLogged"
      class="nav-link custom-btn btn d-lg-none"
      [routerLink]="'/register'"
      >Register</a
    >

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link click-scroll" [routerLink]="''">Home</a>
        </li>

        <li class="nav-item" *ngIf="false">
          <a class="nav-link click-scroll" routerLink="clinic">Clinic</a>
        </li>

        <li class="nav-item" *ngIf="false">
          <a class="nav-link click-scroll" routerLink="visit">Hospital</a>
        </li>

        <li class="nav-item" *ngIf="false">
          <a class="nav-link click-scroll" routerLink="dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_4">Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_2">Our Misson</a>
        </li>

        <li class="nav-item" *ngIf="false">
          <a class="nav-link click-scroll" href="#section_5">Subscribtions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="#section_7">Contact</a>
        </li>

        <li *ngIf="!isLogged" class="nav-item">
          <a
            class="nav-link custom-btn btn d-none d-lg-block"
            [routerLink]="'/register'"
            >Register</a
          >
        </li>

        <li *ngIf="!isLogged" class="nav-item">
          <a
            class="nav-link custom-btn btn d-none d-lg-block"
            routerLink="login"
            >Login</a
          >
        </li>
        <li
          *ngIf="isLogged"
          class="nav-item">
          <span class="nav-link click-scroll">{{name}}</span>
          
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a
            class="nav-link custom-btn btn d-none d-lg-block"
            routerLink="/"
            (click)="LogOut()"
            >Log out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
